@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --preto: #000000;
  --azul-claro: #00ADFF;
  --azul-escuro: #040238;
  --vermelho: #F80000;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--foreground);
  font-family: var(--fonte-primaria)
}

.checkConcluido {
  appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: solid 1px black;
  background-color: white;
  cursor: pointer;
}

.checkConcluido:checked {
  background-color: rgb(157, 240, 157);
}

.subcontainer {
  display: flex;
  flex-direction: column;
  gap: .7em;
}

/* Estilo Calendario */
.react-calendar {
  background-color: red;
  width: 900px !important;
}

.fc-toolbar-title {
  text-transform: capitalize;
}

.fc-header-toolbar {
  display: grid !important;
  grid-template-columns: 1fr 95px;
}

.fc-header-toolbar .fc-toolbar-chunk:nth-child(3) {
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex !important;
  flex-direction: column;
}

.fc-header-toolbar .fc-toolbar-chunk:nth-child(3) .fc-button-group {
  margin: 0;
}

.fc-daygrid-day-frame {
  cursor: pointer;
}

.fc-daygrid-day-events {
  display: none !important;
}

.fc-daygrid-day-frame:has(.fc-daygrid-day-events .fc-daygrid-event-harness) {
  background-color: var(--azul-escuro);
  color: white;
}

.fc-day-today {
  background-color: orange !important;
  color: white !important
}

/* estilo dialog */
[data-pc-section="header"] {
  display: grid;
  grid-template-columns: 1fr 30px;
}

[data-pc-section="header"] div:nth-child(2) {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* fim estilo dialog */

@media screen and (min-width: 768px) {
  .fc-header-toolbar {
    grid-template-columns: 1fr 150px;
  }

  .fc-header-toolbar .fc-toolbar-chunk:nth-child(3) {
    flex-direction: row;
  }

  .fc-header-toolbar .fc-toolbar-chunk:nth-child(3) .fc-button-group {
    margin-left: .5em;
  }
}